.grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 5%; 
    margin: 0 10%;
    padding: 3% 0;
    max-width: 1800px;
    align-items: center;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 5%; 
    margin: 0 10%;
    padding: 3% 0;
    max-width: 1800px;
    align-items: center;
}

.grid3 {
  display: flex;
  flex-wrap: wrap;         
  justify-content: center; 
  gap: 10%;               
  width: 70%;
  margin: 0 auto;
}

.grid3 > * {
  flex: 1 1 20%; 
  box-sizing: border-box; 
}

@media (max-width: 1140px){
    .grid {
        grid-template-columns: 1fr; 
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
        padding: 10% 4%;
    }

    .grid1 {
        grid-template-columns: 1fr; 
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
        padding: 10% 4%;
    }

    #section2 .grid {
        flex-direction: column;
    }

    .grid h2{
         line-height: 1.1;
    }

    .grid h1{
         line-height: 1.5;
    }

    .grid3 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
    align-items: center; 
    }
    
    .grid3 > * {
        flex: 1 1 100%;
    }

}