.grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 5%; 
    margin: 0 10%;
    padding: 3% 0;
    max-width: 1800px;
    align-items: center;
}

@media (max-width: 1140px){
    .grid {
        grid-template-columns: 1fr; 
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
        padding: 10% 4%;
    }

    #section2 .grid {
        flex-direction: column;
    }

    .grid h2{
         line-height: 1.1;
    }

    .grid h1{
         line-height: 1.5;
    }
}